@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #076b8a;
    --primary-color-darker:#063a4a;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    
}
.colunas{
    display: flex;
    justify-content: space-around;
}

.colunas p {
    line-height: 15px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

/* .resultadoTotal{
    background: #33c0eb;
} */

.paragrafo-resultado{
    background: rgb(26, 212, 222);
    padding: 10px 20px;
}

.bad{
    background: rgb(211, 99, 77);
    padding: 10px 20px;
}